<h1>New computer</h1>

<%= render "form", computer: @computer %>
  <button data-action="click->test-two#fetchAttribute">Fetch Attribute</button>
<br>

<div>
  <%= link_to "Back to computers", computers_path %>
</div>
