<h1>Editing component validation</h1>

<%= render "form", component_validation: @component_validation %>

<br>

<div>
  <%= link_to "Show this component validation", @component_validation %> |
  <%= link_to "Back to component validations", component_validations_path %>
</div>
