<p style="color: green"><%= notice %></p>

<h1>Component validations</h1>

<div id="component_validations">
  <% @component_validations.each do |component_validation| %>
    <%= render component_validation %>
    <p>
      <%= link_to "Show this component validation", component_validation %>
    </p>
  <% end %>
</div>

<%= link_to "New component validation", new_component_validation_path %>
