<h1>Editing component attribute</h1>

<%= render "form", component_attribute: @component_attribute %>

<br>

<div>
  <%= link_to "Show this component attribute", @component_attribute %> |
  <%= link_to "Back to component attributes", component_attributes_path %>
</div>
